{
  "presets": ["react",
    ["env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-transform-react-jsx"
 ]
}
